.choose{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  

  option{
    background: #000;
    color: $font-color;
    text-transform: capitalize;  
  }
}

.news{
  display: grid;
  grid-template-columns: 100%;
}
  
.news-photo{
  height: 10rem;
}