*{
  font-size: 16px;
  color: #fff;
  background-color: #000;
  box-sizing: border-box;
}

p{
  display: flex;
  font-family: 'Open Sans', 'sans serif';  
  justify-content: center;
  align-items: center;
  line-height: 2rem;
}

span{
  letter-spacing: 0.2rem; 
  text-transform: uppercase;
}

.choose{
  text-transform: capitalize;
}