.header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 25rem;
  padding-top: 10rem;
}

.choose{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 3vh;
  text-transform: capitalize;
}

.select{
  background: #520101;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 30px;
}