.logo-start{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 50vw;
  padding-top: 50vw;
}

.logo-end{
  height: 5vw;
  padding-top: 50px;
  margin: auto;  
}